body {
  padding: 0em; margin: 0em; overflow: hidden;
}

.tooltip-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 20px;
  }
.tooltip-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
  }
.tooltip-popup-content {
  margin: 13px 24px 13px 20px;
  line-height: 1.3;
  font-size: 13px;
  font-size: 1.08333em;
  min-height: 1px;
  }
.tooltip-popup-content p {
  margin: 17px 0;
  margin: 1.3em 0;
  }
.tooltip-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-top: -1px;
  margin-left: -20px;
  overflow: hidden;
  pointer-events: none;
  }
.tooltip-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;

  margin: -10px auto 0;
  pointer-events: auto;

  transform: rotate(45deg);
  }
.tooltip-popup-content-wrapper,
.tooltip-popup-tip {
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  }
.tooltip-container a.tooltip-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  text-align: center;
  width: 24px;
  height: 24px;
  font: 16px/24px Tahoma, Verdana, sans-serif;
  color: #757575;
  text-decoration: none;
  background: transparent;
  }
.tooltip-container a.tooltip-popup-close-button:hover,
.tooltip-container a.tooltip-popup-close-button:focus {
  color: #585858;
  }
.tooltip-popup-scrolled {
  overflow: auto;
  }
.tooltip-zoom-anim .tooltip-zoom-animated {
  transition: transform 0.25s cubic-bezier(0,0,0.25,1);
  }
.tooltip-zoom-animated {
  transform-origin: 0 0;
  }
