body, #graph {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.tooltip {
  position: absolute;
  padding: 0;
  margin: 0;
  //box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  border: 1px solid black;
}

.tooltip img {
  display: block;
  max-width: 800px;
  max-height: 800px;
}
